@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300;400;600&display=swap");

/* ESTILOS GENERALES */

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: rgb(19, 19, 19);
}

.nav-index {
  height: 100vh;
  background-image: url(../assets/img/index-img.png);
  background-size: cover;
  background-position: center;
}

.nav-item {
  text-decoration: none;
  color: white;
  font-size: 1.6rem;
  font-family: "Bebas Neue", cursive;
  padding: 0px 10px;
}

.nav-link {
  color: white;
  text-shadow: 0px 0px 8px rgb(0, 0, 0);
}

.nav-link:hover {
  color: #f00606;
  text-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.navbar-collapse {
  justify-content: center;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;
}

h1 {
  font-family: "Bebas Neue";
  color: white;
}

h2 {
  font-family: "Teko", sans-serif;
  color: white;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 21px;
  font-size: 1rem;
  color: white;
}

/*INDEX*/

/* HEADER */

header {
  padding: 0%;
}

.navbar-brand img {
  width: 150px;
  height: 150px;
  display: flex;
  margin: 0px 30px;
}

/*MAIN*/

.video-container {
  display: flex;
  justify-content: center;
}

.video-container iframe {
  margin-top: 100px;
  width: 1120px;
  height: 630px;
  border-radius: 5px;
  transition: 0.5s;
  box-shadow: 0px 0px 2px 2px rgba(7, 7, 7, 0.61);
}

.video-container iframe:hover {
  box-shadow: 0px 0px 2px 2px rgba(180, 0, 0, 0.61);
}

.button {
  text-align: center;
  padding: 50px 0px;
}

.button a {
  border: 1px solid #d21312;
  background-color: #d21312;
  border-radius: 5px;
  padding: 5px 50px;
  margin: 10px;
  text-decoration: none;
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 1.3rem;
  transition: 0.4s;
  box-shadow: 0px 0px 5px 2px rgba(7, 7, 7, 0.658);
}

.button a:hover {
  background-color: white;
  color: #d21312;
  border: rgb(15, 15, 15);
  box-shadow: 0px 0px 5px 2px rgba(216, 0, 0, 0.555);
}

.index-main {
  background-image: url(../assets/img/index-img-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/*BIOGRAFÍA*/

.nav-biografia {
  height: 80vh;
  margin: 0%;
  background-repeat: no-repeat;

  background-image: url(../assets/img/bio-banner.jpg);
  background-size: cover;
  background-position: center;
}

.title-bio {
  padding-top: 20px;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 3px;
}

.subtitle-bio {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-weight: 600;
}

.biografia-1 {
  padding: 30px;
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bio-container-1 {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.bio-left-1 {
  width: 600px;
  height: 450px;
  background-image: url(../assets/img/bio-foto1.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 8px 8px 8px 8px rgb(7, 7, 7);
}

.bio-right-1 {
  width: 70%;
  min-height: 300px;
  background-color: rgba(10, 10, 10, 0.74);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: white;
  margin-right: -150px;
  z-index: 1;
}

.bio-right-1 p {
  line-height: 25px;
}

.biografia-2 {
  padding: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bio-container-2 {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bio-left-2 {
  width: 80%;
  height: 450px;
  background-image: url(../assets/img/bio-foto2.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 8px 8px 8px 8px rgb(7, 7, 7);
}

.bio-right-2 {
  width: 70%;
  min-height: 300px;
  background-color: rgba(10, 10, 10, 0.74);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: white;
  margin-left: -150px;
}

.bio-right-2 p {
  line-height: 25px;
}

.biografia-3 {
  padding: 30px;
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bio-container-3 {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}

.bio-left-3 {
  width: 600px;
  height: 450px;
  background-image: url(../assets/img/bio-foto3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 8px;
  box-shadow: 8px 8px 8px 8px rgb(7, 7, 7);
}

.bio-right-3 {
  width: 70%;
  min-height: 200px;
  background-color: rgba(10, 10, 10, 0.74);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: white;
  margin-right: -150px;
  z-index: 1;
}

.bio-right-3 p {
  line-height: 25px;
}

/* VISUAL */

.nav-visual {
  height: 80vh;
  margin: 0%;
  background-repeat: no-repeat;

  background-image: url(../assets/img/visual-banner.png);
  background-size: cover;
  background-position: center;
}

.title-visual {
  padding-top: 30px;
  text-align: left;
  font-size: 3rem;
  letter-spacing: 5px;
  margin-left: 120px;
  margin-bottom: -10px;
  color: #d21312;
}

.subtitle-visual {
  margin-left: 122px;
  margin-bottom: 5px;
  text-align: left;
  font-size: 1.5rem;
  letter-spacing: 3px;
  font-weight: 600;
}

.visual-videos-text {
  text-align: left;
  padding-top: 40px;
  margin-left: 122px;
  font-size: 1.5rem;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  color: white;
  letter-spacing: 2px;
}

.video-container-visual-principal {
  display: flex;
  justify-content: center;
}

.video-container-visual-principal iframe {
  margin-top: 10px;
  width: 1100px;
  height: 372px;
  border-radius: 5px;
  transition: 0.5s;
  box-shadow: 0px 0px 2px 2px rgba(7, 7, 7, 0.61);
  justify-content: center;
  align-items: center;
}

.container-videos-grid {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}


.container-videos-grid.container.row.col-sm-12, .col-lg-4 iframe{
  
  width: 350px;
  height: 200px;
  padding: 0px 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.visual-fotos-text {
  text-align: left;
  padding-top: 60px;
  margin-left: 122px;
  font-size: 1.5rem;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  color: white;
  letter-spacing: 2px;
  
}

.carousel-inner{
  margin-top: 10px;
}



/*MUSICA*/

.nav-musica {
  height: 80vh;
  margin: 0%;
  background-repeat: no-repeat;

  background-image: url(../assets/img/musica-banner.png);
  background-size: cover;
  background-position: center;
}

.albumes-title {
  border: 5px solid #d21312;
  background-color: #d21312;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 40px 120px;
  text-decoration: none;
  color: white;
  font-family: "Teko", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
}

.card-albumes {
  margin-left: 120px;
}

.card{
  width: 13rem;
  
  background-color: rgb(31, 30, 30)
  
} 
.card img{
  padding: 15px;
  border-radius: 20px;
  

}

.card-body{
  margin-top: -20px;
  
}

.card-body p{
  color: rgb(199, 199, 199);
}

  


.sencillos-ep-title {
  border: 5px solid #d21312;
  background-color: #d21312;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 40px 120px;
  text-decoration: none;
  color: white;
  font-family: "Teko", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
}

.card-sencillos-ep .row{
  display:inline-flex;
  margin-left: 108px;
}

 .card-sencillos-ep{
  margin-bottom: 50px;
} 

.dropdown-menu{
  background-color: rgba(17, 17, 17, 0.897);
  color: white;
  
   
}

ul.dropdown-menu.show{
  inset: none;
}


.dropdown-menu li a{
  color: white;
}

.dropup-center .btn{
  background-color: rgba(19, 19, 19, 0.692);
  border-color: rgba(19, 19, 19, 0.692);
}


/*SHOWS*/

.nav-shows {
  height: 80vh;
  margin: 0%;
  background-repeat: no-repeat;

  background-image: url(../assets/img/shows-banner.png);
  background-size: cover;
  background-position: center;
}


.container-shows {
  font-family: "Teko", sans-serif;
  color: white;
  font-weight: 300; 
  font-size: 1.5rem;
  margin-top: 50px;
  margin-bottom: 50px;

  
}



/* CONTACTO */

.nav-contacto {
  height: 80vh;
  margin: 0%;
  background-repeat: no-repeat;

  background-image: url(../assets/img/contacto-banner.png);
  background-size: cover;
  background-position: center;
}

form.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 120px;
  border-radius: 5px;
  padding-bottom: 50px;
  padding-top: 20px;
  font-family: "Teko", sans-serif;
  font-size: 1.5rem;

}

#message{
  padding-bottom: 100px;
}

button.btn.btn-primary {
  background-color: #d21312 ;
  border-color: #d21312;
  padding: 2px 248px;
  font-size: 1.3rem;
}


/*footer*/

footer {
  padding: 30px 0;
  text-align: center;
  background-color: rgb(10, 10, 10);
}

.f-social-media img {
  width: 50px;
  height: 50px;
  padding: 7px;
  margin: 0px 3px;
  color: white;
  margin-bottom: 5px;
}

.copyright {
  color: white;
  font-family: "Roboto", sans-serif;
}

/*MEDIA QUERIES*/

/*mobile*/
@media only screen and (max-width: 768px) {
  
  
  /*index*/

  .navbar-toggler {
    z-index: 1;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .collapse {
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.548);
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    backdrop-filter: blur(2px);
    transition: all 0.5s;
  }
  .navbar-brand {
    margin-right: 0;
  }
  .navbar-brand img {
    width: 200px;
    height: 200px;
    display: flex;
  }

  .video-container {
    flex-direction: column;
    align-items: center;
  }

  .video-container iframe {
    width: 500px;
    height: 280px;
  }

  /*biografia*/

  .nav-biografia {
    height: 40vh;
  }

  .bio-container-1 {
    flex-direction: column;
    width: 100%;
    margin: 0px 0px;
  }

  .bio-left-1 {
    width: 100%;
    background-position: center;
  }

  .bio-right-1 {
    width: 95%;
    margin: 0;
    margin-top: -50px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.781);
    backdrop-filter: blur(2px);
  }

  .bio-right-1 p {
    font-size: 0.9rem;
    line-height: 20px;
  }

  .bio-container-2 {
    flex-direction: column;
    width: 100%;
  }

  .bio-left-2 {
    width: 100%;
    background-position: center;
  }

  .bio-right-2 {
    width: 90%;
    margin: 0;
    margin-top: -50px;
    padding: 15px;
    min-height: 100px;
    background-color: rgba(0, 0, 0, 0.781);
    backdrop-filter: blur(2px);
  }

  .bio-right-2 p {
    font-size: 0.9rem;
    line-height: 20px;
  }

  .bio-container-3 {
    flex-direction: column;
    width: 100%;
  }

  .bio-left-3 {
    width: 100%;
    background-position: center;
  }

  .bio-right-3 {
    width: 90%;
    margin: 0;
    margin-top: -50px;
    padding: 15px;
    min-height: 100px;
    background-color: rgba(0, 0, 0, 0.781);
    backdrop-filter: blur(2px);
  }

  .bio-right-3 p {
    font-size: 0.9rem;
    line-height: 20px;
  }

  /*visual*/

  .nav-visual {
    height: 80vh;
  }


.video-container-visual-principal iframe {
  width: 500px;
  height: 300px;
  margin-top: 0;




}

.container-videos-grid{
  margin-top: 30px;
}


.row{
  justify-content: center;
  

}

.col-sm-12, .col-lg-4 iframe{
  
  width: 500px;
  height: 200px;
  padding: 10px 0px;
  border-radius: 10px;
  
  
  
  
}

.title-visual {
  margin-left: 30px;
  padding-top: 30px;
  text-align: left;
  font-size: 2.5rem;
  letter-spacing: 10px;
  color: #d21312;
  font-weight:500;
  margin-bottom: -5px;
}

.subtitle-visual {
  margin-left: 32px;
  margin-bottom: 5px;
  text-align: left;
  font-size: 1.3rem;
  
  
}

.visual-videos-text {
  text-align: left;
  margin-left: 32px;
  font-size: 1.3rem;
  font-weight: 400;
  

}



.visual-fotos-text {
  text-align: left;
  padding: 0px;
  font-size: 1.3rem;
  margin-left: 30px;
  margin-top: 30px;
  font-weight: 400;
  
  
 

}
.carousel-inner{
  margin-top: 10px;
}


/* musica */






/*contacto*/
button.btn.btn-primary {
  
  padding: 2px 120px;
  
}
}