/* CONTACTO */

.nav-contacto {
  height: 80vh;
  margin: 0%;
  background-repeat: no-repeat;

  background-image: url(../assets/img/contacto-banner.jpg);
  background-size: cover;
  background-position: center;
}

form.row {
  background-color: rgba(14, 14, 14, 0.582);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 120px;
  border-radius: 5px;
  padding-bottom: 50px;
  padding-top: 20px;
  font-family: "Teko", sans-serif;
  font-size: 1.5rem;
  color: white;

  .col-md-6 {
    display: grid;
  }
}

#message {
  padding-bottom: 100px;
}

button.btn.btn-primary {
  background-color: $main-color;
  border-color: $main-color;
  padding: 2px;
  font-size: 1.3rem;
}
