/* header */

header {
  padding: 0%;
}

.nav-index {
  height: 100vh;
  background-image: url(../assets/img/index-img.jpg);
  background-size: cover;
  background-position: center;
}

/* main */

.video-container {
  @include flex(center, none, none);

  & iframe {
    margin-top: 100px;
    width: 1120px;
    height: 630px;
    border-radius: 5px;
    transition: 0.5s;
    box-shadow: 0px 0px 2px 2px rgba(7, 7, 7, 0.61);

    &:hover {
      box-shadow: 0px 0px 2px 2px rgba(180, 0, 0, 0.61);
    }
  }
}

.button {
  text-align: center;
  padding: 50px 0px;

  a {
    border: 1px solid $main-color;
    background-color: $main-color;
    border-radius: 5px;
    padding: 5px 50px;
    margin: 10px;
    text-decoration: none;
    color: $light-color;
    font-family: "Bebas Neue", cursive;
    font-size: 1.3rem;
    transition: 0.4s;
    box-shadow: 0px 0px 5px 2px rgba(7, 7, 7, 0.658);

    &:hover {
      background-color: $light-color;
      color: $main-color;
      border: rgb(15, 15, 15);
      box-shadow: 0px 0px 5px 2px rgba(216, 0, 0, 0.555);
    }
  }
}

.index-main {
  background-image: url(../assets/img/index-img-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
