/*MEDIA QUERIES*/

/*tablet*/
@media only screen and (max-width: 768px) {
  /*index*/

  .nav-index {
    height: 100vh;
  }

  .navbar-toggler {
    z-index: 2;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .collapse {
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.548);
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    backdrop-filter: blur(2px);
    transition: all 0.5s;
  }
  .navbar-brand {
    margin-right: 0;

    & img {
      width: 200px;
      height: 200px;
      display: flex;
    }
  }

  .video-container {
    flex-direction: column;
    align-items: center;

    & iframe {
      width: 550px;
      height: 380px;
    }
  }

  /*biografia*/

  .nav-biografia {
    height: 60vh;
  }

  .title-bio,
  .subtitle-bio {
    display: flex;
    justify-content: center;
    letter-spacing: normal;
  }

  .biografia-1 {
    background: transparent;
    padding: 0 5%;
  }

  .biografia-1-content {
    max-width: fit-content;
    margin-left: 0;
    text-align: justify;
    align-items: center;

    p {
      padding-top: 20px;
      padding-bottom: 0px;
      margin-bottom: 0;

      font-size: 1rem;
    }
  }

  .biografia-2 {
    background: transparent;
    padding: 0 5%;
  }

  .biografia-2-content {
    margin-left: 0;
    text-align: justify;
    justify-content: center;
    align-items: center;

    p {
      width: 100%;
      padding-top: 20px;
      padding-bottom: 0px;
      margin: 0;
      font-size: 1rem;
    }
  }

  .biografia-3 {
    background: transparent;
    padding: 0 5%;
  }

  .biografia-3-content {
    max-width: fit-content;
    margin-left: 0;
    text-align: justify;
    align-items: center;
    padding: 20px 0px;

    p {
      padding-top: 0px;
      padding-bottom: 50px;
      margin-bottom: 20px;
      font-size: 1rem;
    }
  }

  /*visual*/

  .nav-visual {
    height: 70vh;
  }

  .title-visual,
  .subtitle-visual {
    text-align: center;
    margin: 0;
    letter-spacing: 3px;
    text-align: center;
  }

  .visual-fotos-text,
  .visual-videos-text {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: 3px;
    text-align: center;
  }

  .video-container-visual-principal iframe {
    width: 500px;
    height: 300px;
    margin-top: 0;
  }

  .container-videos-grid {
    margin-top: 20px;

    .row {
      gap: 20px;
      padding-left: 20px;
    }

    & .container.row.col-sm-12,
    .col-lg-4 iframe {
      width: 500px;
      height: 200px;
      padding: 0px 20px;
      border-radius: 10px;
    }
  }

  .carousel-inner {
    margin-top: 10px;
  }

  /* musica */
  .nav-musica {
    height: 50vh;
  }

  .albumes-title,
  .sencillos-ep-title {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .card-albumes {
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-sencillos-ep .row {
    margin: 0px;

    .col {
      flex: 0.1 0 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  /*shows*/
  .nav-shows {
    height: 70vh;
  }

  /*contacto*/

  form.row {
    margin: 50px 50px;
  }
}

/*mobile*/
@media only screen and (max-width: 576px) {
  /*index*/

  .nav-index {
    height: 80vh;
  }

  .navbar-toggler {
    z-index: 2;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .collapse {
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.548);
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    backdrop-filter: blur(2px);
    transition: all 0.5s;
  }
  .navbar-brand {
    margin-right: 0;

    & img {
      width: 200px;
      height: 200px;
      display: flex;
    }
  }

  .video-container {
    flex-direction: column;
    align-items: center;

    & iframe {
      width: 400px;
      height: 280px;
    }
  }

  /*biografia*/

  .nav-biografia {
    height: 40vh;
  }

  .title-bio,
  .subtitle-bio {
    display: flex;
    justify-content: center;
    letter-spacing: normal;
  }

  .biografia-1 {
    background: transparent;
    padding: 0 5%;
  }

  .biografia-1-content {
    margin-left: 0;
    text-align: justify;
    align-items: center;

    p {
      padding-top: 20px;
      padding-bottom: 0px;
      margin-bottom: 0;

      font-size: 1rem;
    }
  }

  .biografia-2 {
    background: transparent;
    padding: 0 5%;
  }

  .biografia-2-content {
    margin-left: 0;
    text-align: justify;
    justify-content: center;
    align-items: center;

    p {
      width: 100%;
      padding-top: 20px;
      padding-bottom: 0px;
      margin: 0;
      font-size: 1rem;
    }
  }

  .biografia-3 {
    background: transparent;
    padding: 0 5%;
  }

  .biografia-3-content {
    margin-left: 0;
    text-align: justify;
    align-items: center;
    padding: 20px 0px;

    p {
      padding-top: 0px;
      padding-bottom: 50px;
      margin-bottom: 20px;
      font-size: 1rem;
    }
  }

  /*visual*/

  .nav-visual {
    height: 70vh;
  }

  .title-visual,
  .subtitle-visual {
    text-align: center;
    margin: 0;
    letter-spacing: 3px;
    text-align: center;
  }

  .visual-fotos-text,
  .visual-videos-text {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    letter-spacing: 3px;
    text-align: center;
  }

  .video-container-visual-principal iframe {
    width: 380px;
    height: 250px;
    margin-top: 0;
  }

  .container-videos-grid {
    margin-top: 20px;

    .row {
      gap: 20px;
      padding-left: 20px;
    }

    & .container.row.col-sm-12,
    .col-lg-4 iframe {
      width: 360px;
      height: 200px;
      padding: 0px 20px;
      border-radius: 10px;
    }
  }

  .carousel-inner {
    margin-top: 10px;
  }

  /* musica */
  .nav-musica {
    height: 50vh;
  }

  .albumes-title,
  .sencillos-ep-title {
    display: flex;
    justify-content: center;
    margin: 20px;
  }

  .card-albumes {
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card-sencillos-ep .row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0px;

    .col {
      display: contents;
    }
  }

  /*shows*/
  .nav-shows {
    height: 70vh;
  }

  /*contacto*/

  form.row {
    margin: 50px 50px;
  }
}
