footer {
  padding: 30px 0;
  text-align: center;
  background-color: rgb(10, 10, 10);

  .f-social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    border-radius:  50%;
    font-size: 25px;
    color: white;
    text-decoration: none;
    margin: 0px 3px;
    margin-bottom: 10px;
    transition: .5s;

    &:hover{
      background: white;
      color: $main-color; 
    }
    

  }
  .copyright {
    color: white;
    font-family: "Roboto", sans-serif;
  }
}

