/* ESTILOS GENERALES */

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  // overflow: hidden;
}

body {
  background-color: #000714;
}

h1 {
  font-family: "Bebas Neue";
  color: white;
}

h2 {
  font-family: "Teko", sans-serif;
  color: white;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 21px;
  font-size: 1rem;
  color: white;
}
